body {
    margin: 0;
    background-image: 
      url('../Images/directions/directions_bg.jpg');
    background-repeat: no-repeat;
    background-size: min(600vw, 560px) 1083px;
    /* background-size: min(600vw, 660px) auto; */
    background-position: top center;
    background-color: #000000;
    padding-bottom: 0px; /* 140 */
}
.page_directions{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 0;
}

.directions-title{
    position: relative; 
    display: flex; 
    z-index: 2;   
    width: 83px;
    height: 16px;
    margin: 0px auto;
}
.directions-title h1{
    text-align: center;
    color: #fff;
    margin: 0px auto;
}
.directions-title h1{
    font-size: 1.07rem;
    font-weight: 600;
}
.map-image{
    padding: 0px;
    margin: 35px auto;
}
.map-image-img{
    width: 345px;
    height: auto;
    display: flex;
    object-fit: cover;
    margin: 0px auto;
    justify-content: center; /* 수평 가운데 */
}
@media (min-width: 768px) {
  .art-image-img {
    max-width: var(--container-max); 
    margin: 0 auto;
  }
}

.directions-container{    
  max-width: var(--container-max);
  width: 100%;
  margin: 0 auto;
  padding: 0 0px;
  box-sizing: border-box;
}

/* 경로 설명 */
.directions-explain{ 
    position: relative; 
    margin: 20px auto;
}
.directions-explain-title-text{
    position: static;
    display: block;
    text-align: left;
    color: #fff;          
    z-index: 2;     
    
    max-width: min(100%, var(--container-max, 660px));
    margin-top: 15px;
    margin-left: 50px;
}
.directions-explain-title-text h1{
    font-size: 0.67rem;
    font-weight: 600;
}
.directions-explain-text{
    position: static;
    display: block;
    text-align: left;
    color: #fff;          
    z-index: 2;     
    
    max-width: min(100%, var(--container-max, 660px));
    margin-top: -7px;
    margin-left: 50px;
}
.directions-explain-text h1{
    margin: 0;
    padding: 0;

    font-size: 0.67rem;
    font-weight: 400;
    line-height: 1.2;
    word-break: keep-all;
}

.map-image-sub{
    padding: 0px;
    margin: 15px auto;
}
.map-image-img-sub{
    width: 345px;
    /* height: 245px; */
    height: auto;
    display: flex;
    object-fit: cover;
    margin: 0px auto;
    justify-content: center; /* 수평 가운데 */
}
.page-bottom{ 
    margin-top: 40px;
    margin-bottom: 15px;
}
.page-home-btn{
    position: relative;
    display: block;
    align-items: center;
    /*gap: 14px;*/
    width: 33px;
    height: 52px;
    /*padding: 16px 18px;*/
    text-decoration: none;
    color: transparent;

    /* 배경 이미지/색 */
    background-image: var(--bg);
    background-size: contain;
    background-position: center;
    background-color: transparent; /* 로딩 전/실패 대비 */
    background-repeat: no-repeat;
    background-size: 33px 52px;

    overflow: hidden;
    isolation: isolate;
    box-shadow: 0 1px 2px rgba(0,0,0,.06);
    transition: transform .15s ease, box-shadow .15s ease;
    margin: 0px auto;
}