body {
    margin: 0;
    background-image: 
      url('../Images/intro/intro_bg.jpg');
    background-repeat: no-repeat;
    background-size: min(600vw, 660px) auto;
    background-position: top center;
    background-color: #000000;
    padding-bottom: 0px;
}
.intro-container{
    margin-top: 0;
}
.page_intro{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 0;
}
.intro-title{ 
    position: relative; 
    height: 120px; 
    padding: 20px;
    margin: 0 auto;
    display: flex;
}
.info-top-logo-img{
    position: relative;
    width: 107px;
    height: 86px;
    margin: 30px auto;
    margin-bottom: 0px;
}

.intro-des{ 
    position: relative; 
    padding: 30px;
    width: 344px;
    height: 219px;
    margin-top: 5px;
    left: 50%;
    transform: translateX(-50%);
}
.intro-des-img{
    position: absolute;
    display: block;
    width: 344px;
    height: 219px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0px auto;
    z-index: 1;
}
.intro-des-text{
    position: static;
    display: block;
    text-align: left; 
    z-index: 2;     
    
    max-width: 660px;
    /*max-width: min(100%, var(--container-max, 660px));*/
    margin: 0 auto;      
}
.intro-des-name-text h1 {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-weight: 600;
  font-size: 0.94rem;
    color: #fff;         
    max-width: 600px;
  margin-top: 30px;
  margin-left: 20px;
}
.intro-des-text h1 {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-weight: 400;
  font-size: 0.73rem;
    color: #fff;         
    max-width: 600px;
  margin-top: 20px;
  margin-left: 20px;
}

.intro-des-text-image{
    position: absolute; 
    display: block;
    width: 271px;
    height: 157px;
    margin-top: -30px;
    margin-left: 20px;
    z-index: 2;
}

.intro-des-2{ 
    position: relative; 
    padding: 30px;
    width: 344px;
    height: 210px;
    margin-top: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.intro-des-img-2{
    position: absolute;
    display: block;
    width: 344px;
    height: 210px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0px auto;
    z-index: 1;
}
.intro-des-text-image-2{
    position: relative; 
    display: block;
    width: 295px;
    height: 140px;
    margin-top: 30px;
    margin-left: 20px;
    z-index: 2;
}
.page-bottom{ 
    margin-top: 20px;
    margin-bottom: 15px;
}